
.navbar-default{
	padding-top: 8px;
	padding-bottom: 27px;
	background-color: #290201;
}

.nav.navbar-nav.navbar-right li a{
	color: #FF4500;
}

.home-navbar .navbar-nav > .active > a, .home-navbar .navbar-nav > .active > a:hover, .home-navbar .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    border: 2px solid;
}

.home-navbar {
	margin-bottom: 0px;
	border: none;
}

.form-container{
	margin-top: 60px;
	margin-bottom: 370px;
}

.btn-large{
	padding: 50px;
}

.btn-large1{
	padding: 30px;
}

.btn-large2{
	padding: 30px;
}

.form-container1{
	margin-top: 60px;
	margin-bottom: 500px;
}

.startup{
	margin-top: 60px;
	margin-bottom: 240px;
}

.search{
	margin-bottom: 20;
}

.hero-text {
	margin-top: 170px;
	color: white;
}

.text-center h1 {
	font-size: 55px;
}

.text-center h3 {
	font-size: 35px; 
}

.header-text{
	text-align: left;
	font-size: 18px;
}

.home-bg {
	background-image: url("../img/bg.jpg");
	background-position: center;
	background-size: cover;
	height: 800px;
}

.bg-cover {
	background-color: #4f1c1b8c;
	height: 800px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.footer {
	color: white;
  	background-color: #290201;
  	padding: 20px 0;
}

.footer-icons li {
	float: left;
	padding: 10px 30px;
	list-style: none;
}

#foot{
	padding-right: 3px;
	text-align: left;
	float: left;
}

.icon li{
	margin-top: -5px;
	list-style-type: none;
	padding: 5px;
	float: right;
	margin-left: 15px;
}

